/* GLOBAL */

:root {
    --primary: #fd0054;
    --dprimary: #a80038;
    --light: #fbf9fa;
    --dark: #2b2024;
    --grey: #e9e9e9;
    --shadow: 0 1px 7px rgba(206, 206, 206, 0.8);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

/* HEADER */

.header {
    display: grid;
    grid-template-columns: minmax(10px, 200px) 100px minmax(700px, 1500px) minmax(10px, 200px);
    grid-template-rows: 40px 60px;
    grid-template-areas: 
        'margin-l-up logo nav-h-up margin-r-up'
        'margin-l-down logo nav-h-main margin-r-down';
    border-top: 2px solid var(--light);
}

/* MARGINS */

.margin-l-up {
    background: var(--dark);
    grid-area: margin-l-up;
}

.margin-l-down {
    background: var(--primary);
    grid-area: margin-l-down;
}

.margin-r-up {
    background: var(--dark);
    grid-area: margin-r-up;
}

.margin-r-down {
    grid-area: margin-r-down;
    background: var(--primary)
}

/* LOGO */

.logo {
    background: var(--light);
    grid-area: logo;
}

.logo img {
    width: 100%;
}

/* NAVIGATION UP */

.nav-h-up {
    grid-area: nav-h-up;
    background: var(--dark);
}

.nav-h-up .principal-nav {
    color: var(--light);
    padding: 13px 0px 0 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    display: flex;
    flex-flow: row;   
    float: right;
}

.nav-h-up .secondary-nav {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -45%;
    top: 120%;
}

.nav-h-up ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.nav-h-up ul li ul {
    background: var(--dark);
    color: var(--light);
}

.nav-h-up ul li ul li {
    display: flex;
    flex-flow: row;
    padding: 10px 15px;
    text-transform: none;
}

.nav-h-up li {
    list-style: none;
    padding: 0 15px 0 15px;
    position: relative;
    
}

.nav-h-up a:hover {
    color: var(--primary);
}

.nav-h-up a {
    text-decoration: none;
    color: var(--light);
}

/* NAVIGATION MAIN */

.nav-h-main {
    grid-area: nav-h-main;
    display: block;
    background: var(--primary);
    padding: 10px 10px 0 10px;
}

.nav-h-main .nav-right {
    text-align: center;
}

.nav-h-main a {
    text-decoration: none;
}

.nav-h-main .nav-right div {
    float: right;
    padding: 0 17px 0 17px;
    border-right: 1px solid var(--light);
}

.nav-h-main .searchbar {
    float: left;
    display: inline-flex;
    font-size: 18px;
    padding-left: 10px;
}

.nav-h-main i {
    padding: 0 8px;
}

.nav-h-main p {
    color: var(--light);
}

.nav-right i {
    color: var(--dark)
}

.searchbox {
    font-size: inherit;
    border: 0.2em solid var(--light);
    border-radius: 0.3em 0 0 0.3em;
    padding: 0.23em;
    background-color: var(--light);
    width: 280px;
}

.searchbutton {
    font-size: inherit;
    border: none;
    border-radius: 0 0.3em 0.3em 0;
    background-color: var(--light);
    border-left: 0 ;
    padding-left: 3px;
}

.searchbutton:hover,
.searchbutton:focus {
    background: #e9e9e9;
}

.nav-user {
    position: relative;
}

.logout {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: var(--primary);
    padding: 10px;
    color: var(--light);
    width: 100%;
    left: -10%;
    top: 130%;
}

.nav-user:hover > .logout {
    opacity: 1;
    visibility: visible;
}

/* BRANDS */

.brandswrapper {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cellbrand {
    margin: 10px;
    max-width: 100px;
    padding: 10px 15px;
    box-shadow: var(--shadow);
}

.cellbrand img {
    width: 100%;
}

/* MAIN GLOBAL */

.mainwrapper {
    display: grid;
    grid-template-columns: 16% 42% 42%;
    grid-template-rows: 30px 40px auto auto auto 50px;
    grid-template-areas:
        'category category category'
        'filters resultsup resultsup'
        'filters cellbox cellbox'
        'filters cellbox cellbox'
        '. cellbox cellbox'
        '. resultsdown resultsdown';
    width: 1500px;
    margin: auto;
}


/* CATEGORY */

.maincategory {
    grid-area: category;
    background-color: var(--grey);
    padding-top: 6px;
    padding-left: 6px;
}

.maincategory a {
    text-decoration: none;
}

.maincategory a:visited {
    color: var(--dark);
}

/* FILTERS */

.mainfilters {
    grid-area: filters;
    box-shadow: var(--shadow);
    padding: 0 10px 0 10px;  
}

.filtersshadow {
   margin: 20px 0 20px 0;
}

.filtersshadow h4 {
    margin-bottom: 15px;
}

.filtersshadow li {
    list-style-type: none;
    padding: 5px;
}

.filtersshadow li a {
    text-decoration: none;
}

.filtersshadow li a:visited {
    color: var(--dark);
}

/* RESULTS */

.resultsnumbers {
    grid-area: resultsup;
    display: flex;
}

/* CELLPHONES */

.cellphones {
    grid-area: cellbox;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* PAGES END */

.pagesend {
    grid-area: resultsdown;
}